@model EjemploMVC.Models.DetallesUsuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <div> 
        @Html.ValidationMessage("CredentialError", new { style="color:red;"})
        @using (Html.BeginForm("Logear", "Autenticacion", FormMethod.Post))
        {
            @Html.LabelFor(p => p.NombreUsuario)
            @Html.TextBoxFor(p => p.NombreUsuario)
            @Html.ValidationMessageFor(p => p.NombreUsuario)
            <br />
            @Html.LabelFor(p => p.Contrasena)
            @Html.PasswordFor(p => p.Contrasena)
            <br />
            <input type="submit" name="BtnSubmit" value="Login"/>
        }
    </div>
</body>
</html>
